#navbar {
    height: 100px;
}

.success {
    color: green;
    transition: all ease-in .5s;
}

.error {
    color: red;
    font-size: 2rem;
    transform-origin: bottom left;
    transform: rotate(360deg);
    transition: all ease-in 2s;
}
